@import 'src/index.scss';

.Search {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  width: 60%;
  padding: 16px 24px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 6px 12px rgba(71, 67, 78, 0.08), 0px -6px 8px rgba(71, 67, 78, 0.02);
  border-radius: 16px;

  &__dropdown {
    flex-grow: 1;
    width: 30%;
  }
  &__divider {
    margin: 0 2px;
    height: 60px;
    width: 1px;
    background-color: #e5e5e5;
  }
  &__button {
    margin-left: 25px;
  }

  @media (max-width: $big-breakpoint) {
    width: 100%;
  }

  @media (max-width: $medium-breakpoint) {
    flex-wrap: wrap;
    padding: 10px;
    &__dropdown {
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
    }
    &__divider {
      display: none;
    }
    &__button {
      margin: 2rem 0 0;
      width: 100%;
    }
  }
}
