.App {
  &__container {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 1680px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: 3rem;
  }
}
